<h1>Edit Reservation </h1>


<div class="book_table bg-light text-dark">

        <%= form_tag(reservation_table_update_path(id:@reservation.restaurant_id,reservation_id:@reservation), method: "post") do |f|%>
                
                <div class="row row-cols-2">
                        <%if @tables_all && @tables_all.each do |table| %>
                                <div class="col">
                                <%= radio_button_tag(:table_book, table.id) %>
                                <%= label_tag(:reservation_table, table.name) %>
                                <p>Members occupy table : <%= table.member %></p>
                                </div>
                        <% end %>
                        <% end %>
                </div>
                <%= submit_tag "submit",class:"btn btn-success my-3 btn-sm w-100" %>
                
                <% @tables.each do |table| %>
                        <div class="row" >
                            <div class="col-9">
                                <p>Table Name : <%= table.name %></p>
                                <p>Members : <%= table.member %></p>
                            </div>
                            <%= link_to "Destroy", reservation_table_each_delete_path(reservation_id:@reservation,id:@reservation.restaurant_id,table_id:table.id), data: {
                                                turbo_method: :delete,
                                                turbo_confirm: "Are you sure?"
                                            } , class:"col btn btn-danger btn-sm h-50" %>
                        </div>
                        <hr>
                    <% end %>
        <% end %>
</div>

