<%= stylesheet_link_tag 'table' %>

<h1>My Reservations </h1>

<div class="show_reservation">

  <% @restaurants.each do |restaurant| %>

    <% restaurant.reservations.each do |reservation| %>

      <div class="card mb-3" style="max-width: 540px;">
        <div class="row g-0">

          <div class="col-md-5 d-flex align-items-center">
            <%= image_tag(restaurant.images, style: "width: 100%; height: 200px;") %>
          </div>

          <div class="col-md-7">
            <div class="card-body">

              <h5 class="card-title" style="text-decoration:underline;"><%= restaurant.name.upcase %></h5>
              <div>
                
                <% if reservation.table_booked %>
                  <p class="card-title" >Tables:</p>
                  <p class="card-text">Table name : <%= reservation.table_booked.name %></p>
                  <p class="card-text">Date : <%= reservation.date %></p>
                    <%= link_to "edit" , reservation_table_edit_url(id:restaurant.id , reservation_id:reservation.id) , class:"btn btn-primary btn-sm mr-5" %>
                    <%= link_to "Destroy", reservation_table_delete_url(reservation_id:reservation,id:reservation.restaurant_id), data: {
                                      turbo_method: :delete,
                                      turbo_confirm: "Are you sure?"
                                    } ,  class:"btn btn-danger btn-sm mr-5"%>

                <% end %>
            
                <% if reservation.order %>
                <p class="card-title mt-3" >Orders:</p>
                <% reservation.order.order_items.each do |item| %>
                 

                  <p class="card-text mt-2">Menu Item: <%= item.name %></p>
                  <p class="card-text">Quantity : <%= item.quantity%></p>
                  
                <% end %>
                <%= link_to "edit" , reservation_order_edit_url(id:restaurant.id , reservation_id:reservation.id) ,  class:"btn btn-primary btn-sm mr-5"%>
                <%= link_to "Destroy", reservation_order_delete_url(reservation_id:reservation,id:reservation.restaurant_id), data: {
                                  turbo_method: :delete,
                                  turbo_confirm: "Are you sure?"
                                } ,  class:"btn btn-danger btn-sm mr-5"%>
              
              <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
  <% end %>
  <% end %>

</div>