<%= stylesheet_link_tag 'table' %>
<h1>Book Table...</h1>



<div class="book_table bg-light text-dark">

        <%= form_tag(reservation_table_confrim_path(id:@restaurant,type:@type), method: "post") do |f|%>
                <div class="row row-cols-2">
                        <% @tables.each do |table| %>
                                <div class="col">
                                <p><%= check_box_tag table.id %>
                                <%= label_tag(table.id, table.name) %></p>
                                
                                <p>Members occupy table : <%= table.member %></p>
                                </div>
                        <% end %>
                </div>
                <hr>
                <%= label_tag(:date, Date,class:"form-label") %>
                <%= date_field(:date_id, :date,class:"form-control") %>
                <%= submit_tag "submit",class:"btn btn-success my-3 btn-sm w-100" %>
                
        <% end %>
</div>

