<%= form_with model: [restaurant , restaurant.menu_items.build] , class:"table_form bg-light text-dark"  do |form| %>

    <div class="mb-3">
      <%= form.label :name, class:"form-label"%><br>
      <%= form.text_field :name  , class:"form-control" %>
    </div>
  
    <div class="mb-3">
      <%= form.label :quantity ,  class:"form-label"%>
      <%= form.text_field :quantity ,  class:"form-control"  %>
    </div>

    <div class="mb-3">
      <%= form.label :rate ,  class:"form-label"%>
      <%= form.text_field :rate ,  class:"form-control" %>
    </div>

    <div class="mb-3">
    <%= form.label :images ,  class:"form-label"%><br>
      <%= form.file_field :images, multiple:false,  class:"form-control" %>
    </div>

    <div class="mb-3">
      <%= form.submit "submit", class:"btn btn-success my-3 btn-sm"%>
    </div>
    
<% end %>