<%= stylesheet_link_tag 'table' %>
<h1>Edit table </h1>
<%= form_with model: [@restaurant,@table] , class:"table_edit bg-light text-dark" do |form| %>

  <div class="mb-3">
  <%= form.label :name , class:"form-label"%><br>
  <%= form.text_field :name , class:"form-control" %>
  </div>

  <div class="mb-3">
  <%= form.label :member , class:"form-label"%><br>
  <%= form.number_field :member , class:"form-control", min:0%>
  </div>

  <div class="mb-3">
  <%= form.submit  "submit" , class:"btn btn-success my-3 btn-sm"%>
  </div>
    
<% end %>