<!DOCTYPE html>
<html>
  <head>
    <title>RestaurantReservation</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>


    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>


    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Barlow:ital,wght@1,300&family=Lato:ital@1&display=swap" rel="stylesheet">
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="font-family: 'Lato', sans-serif;">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Restaurant Reservation</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <%= link_to "Home" , root_path , class:"nav-link active" %>
            <% if account_signed_in? and current_account.accountable_type=="Owner" %>
              <%= link_to "Add new restaurant" ,  new_restaurant_url , class:"nav-link" %>
            <% end %>
            <%= link_to "Show my reservations" , reservation_show_url , class:"nav-link" %>
            <% if account_signed_in? %>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <%= current_account.name %>
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <% if false %>
                  <li><%= button_to "Edit profile" ,   edit_account_registration_path  , method: :get, class:"nav-link",style:"border:none; background-color:white; color:black;" %>
                  </li>
                <% end %>
                <li><%= button_to "Sign out" ,  destroy_account_session_path , method: :delete, class:"nav-link ",style:"border:none; background-color:white; color:black;" %>
                </li>
              </ul>
            </li>

            <% else %>
              <%= link_to "login" , new_account_session_path , class:"nav-link" %>
            <% end %>
          </div>
        </div>
      </div>
    </nav>
    <div class="container" >
      <% if flash[:notice] %>
          <div class="alert alert-warning alert-dismissible fade show w-50" role="alert" style="margin-left:25%;margin-top:2%;">
                  <%= flash[:notice] %>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
